body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.range-input { 
  position: relative; 
} 

.range-input input { 
  position: absolute; 
  width: 100%; 
  height: 5px; 
  background: none; 
  top: -5px; 
  pointer-events: none; 
  cursor: pointer; 
  -webkit-appearance: none; 
} 

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb { 
  height: 18px; 
  width: 18px; 
  border-radius: 70%; 
  background: #555; 
  pointer-events: auto; 
  -webkit-appearance: none; 
} 